<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Wild Series</title>
</head>
<body>
    
   {% block header %}
      {% include 'base.html.twig' %}
   {% endblock %}

   {% block content %}
    <h1> Program {{id}}</h1>
    {% endblock %}
</body>
</html>